@import "./components/colors.scss";

#about {
  margin: 0 15vw;
  margin-bottom: 11.125rem;
  position: relative;

  @media screen and (max-width: 1000px) {
    margin: 0 3vw;
  }

  .timeline {
    width: 1px;
    height: 268vh;
    left: -43px;
    top: -400px;
    z-index: 9;
    position: absolute;
    background-color: var(--main-color);

    .round-timeline {
      position: absolute;
      background-color: var(--color-bg-home);
      left: -6px;
      top: 0;
      z-index: 10;
      width: 9px;
      height: 9px;
      border-radius: 50%;
      border: 2px solid var(--main-color);
    }
  }

  h2#title-about:not(span) {
    position: relative;

    &:not(span) {
      -webkit-text-stroke: 2px var(--text-color);
      -webkit-text-fill-color: transparent;
      font-family: "Lato";
    }
    span {
      margin-right: 30px;
    }

    .line-decorate {
      position: absolute;
      width: 50vw;
      height: 1px;
      top: 160px;
      background-color: var(--main-color);
      left: 390px;

      @media screen and (max-width: 1280px) {
        width: 35vw;
      }
    }
  }

  .box-about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;

    @media screen and (max-width: 1000px) {
      flex-direction: column;
    }

    .info-about {
      @media screen and (max-width: 1000px) {
        width: 100%;
      }
      .info-name,
      .info-mail {
        font-size: 25px;
        line-height: 1em;

        p {
          font-weight: bold;
        }

        b {
          font-weight: 500;
        }
      }

      .info-mail {
        margin-bottom: 40px;
      }

      .box-symbols {
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 1000px) {
          display: none;
        }

        .container-symbols {
          display: flex;
          justify-content: space-between;

          &:first-child {
            margin-bottom: 30px;
          }
          div.round,
          div.square {
            width: 10vw;
            height: 10vw;
            border: 0.35rem solid var(--main-color);
          }

          .alt-i {
            font-size: 10vw;

            &::before {
              color: var(--main-color);
            }
          }

          div.round,
          div.square {
            margin-right: 30px;
          }

          div.round {
            border-radius: 50%;
          }
        }
      }
    }

    .text-description {
      width: 50%;

      @media screen and (max-width: 1000px) {
        width: 100%;
      }

      span:not(.alt-download) {
        font-weight: lighter;
        display: inherit;
        font-size: 1.5rem;
        margin-bottom: 20px;
      }

      div {
        display: flex;
        justify-content: flex-end;

        a {
          text-decoration: none;

          .button-cv {
            text-align: right;
            font-size: 30px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 10px 25px;
            background-color: var(--main-color);
            width: 50px;
            color: white;
            border-radius: 30px;
            transition: background-color 0.5s ease;

            &:hover {
              background-color: var(--color-secondary);
            }

            span {
              margin-right: 10px;
            }
          }
        }
      }
    }
  }

  .box-interests {
    h3.title-interests {
      font-size: 3rem;
      margin-bottom: 2em;
    }

    .icons-interests {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      span {
        font-size: 7em;
      }

      @media screen and (max-width: 1000px) {
        flex-wrap: wrap;

        span {
          font-size: 4em;
        }
      }
    }
  }
}
