#contact {
  margin: 0 15vw;
  margin-bottom: 100px;
  position: relative;

  @media screen and (max-width: 1000px) {
    margin: 0 3vw;
  }

  .timeline {
    width: 1px;
    height: calc(100% + 100px);
    left: -43px;
    top: 0;
    z-index: 9;
    position: absolute;
    background-color: var(--color-secondary);
  }

  h2 {
    position: relative;

    span.alt-chat {
      margin-right: 30px;
    }

    .line-decorate {
      position: absolute;
      width: 40vw;
      height: 1px;
      top: 160px;
      background-color: var(--color-secondary);
      left: 500px;

      @media screen and (max-width: 1100px) {
        width: 30vw;
      }
    }

    @media screen and (max-width: 1280px) {
      width: 25vw;
    }
  }

  .infos {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .contact-info {
      p {
        font-size: 2rem;
        font-weight: 600;

        @media screen and (max-width: 700px) {
          font-size: 30px;
        }
      }

      .links-contact {
        display: flex;
        justify-content: space-between;
        width: 400px;

        @media screen and (max-width: 700px) {
          width: auto;
        }

        a {
          text-decoration: none;
        }

        span {
          font-size: 50px;
        }
      }
    }

    .image-avatar {
      width: 400px;

      @media screen and (max-width: 1200px) {
        width: 300px;
      }

      @media screen and (max-width: 700px) {
        display: none;
      }
    }
  }
}
