#skills {
  margin: 0 15vw;
  margin-bottom: 5vh;
  position: relative;

  @media screen and (max-width: 1000px) {
    margin: 0 13vw;
  }

  .timeline {
    width: 1px;
    height: calc(100vh + 550px);
    left: -43px;
    top: 0;
    z-index: 9;
    position: absolute;
    background-color: var(--color-secondary);
  }

  h2 {
    margin-bottom: 45px;
    position: relative;

    span {
      margin-right: 30px;
    }

    .line-decorate {
      position: absolute;
      width: 50vw;
      height: 1px;
      top: 160px;
      background-color: var(--color-secondary);
      left: 400px;

      @media screen and (max-width: 1280px) {
        width: 30vw;
      }
    }
  }

  p.skills-description {
    margin-bottom: 50px;

    font-size: 1.4rem;
    padding: 0 95px;
    line-height: 40px;

    @media screen and (max-width: 800px) {
      padding: 0;
    }
  }

  .container-skills {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;

    @media screen and (max-width: 770px) {
      flex-direction: column;
    }

    .bar {
      width: 25vw;

      @media screen and (max-width: 770px) {
        width: 70%;
        display: flex;
        margin: auto;
        flex-direction: column;
        justify-content: center;
      }

      @media screen and (max-width: 400px) {
        width: 50%;
      }

      h3 {
        text-align: center;
        font-size: 2rem;
      }

      div.bar-item {
        p {
          font-size: 1.4rem;
        }

        div.bar-progress {
          width: 100%;
          height: 20px;
          border-radius: 10px;
          background-color: var(--text-color);
          display: flex;
          align-items: center;

          .bar-inner {
            height: 66%;
            border-radius: 10px;
            margin-left: 5px;
            background-color: var(--main-color);

            &.effects {
              width: 50%;
            }

            &.premiere {
              width: 90%;
            }

            &.indesign {
              width: 70%;
            }

            &.dev {
              width: 65%;
            }

            &.ds-max {
              width: 50%;
            }

            &.pro-tools {
              width: 75%;
            }

            &.resolve {
              width: 65%;
            }

            &.photoshop {
              width: 70%;
            }

            &.progress-active {
              transition: 1.5s all cubic-bezier(0.39, 0.575, 0.565, 1);
            }
          }
        }
      }
    }
  }

  div.soft-skills {
    h3 {
      text-align: center;
      font-size: 2rem;
    }

    div.soft-elements {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 300px;

      @media screen and (max-width: 1280px) {
        margin: 0;
        flex-wrap: wrap;
      }

      p,
      span {
        font-size: 1.7rem;
        margin: 0 10px;
      }

      span {
        color: var(--main-color);
      }
    }
  }
}
